* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --header-margin: 25px;
  --main-text-margin: 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../images/showcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-container {
  max-width: 300px;
}

.header-logo {
  width: 180px;
  height: 180px;
  margin-bottom: var(--header-margin)
}

.header-title {
  font-size: 2.2rem;
  margin-bottom: var(--header-margin);
}

.header-text {
  line-height: 1.7;
}

.wrap-black-bg {
  background-color: #000;
}

.wrap-white-bg {
  background-color: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 70px 20px;
}

.jc-space-around {
  justify-content: space-around;
}

.section {
  margin: 10px;
}

.section-title {
  margin-top: var(--main-text-margin);
  font-weight: bold;
  font-size: 20px;
}

.section-text {
  margin-top: var(--main-text-margin);
}

.bg-laptop-icon {
  color: #333;
}

.about-us__section {
  color: #333;
  text-align: left;
  max-width: 470px;
}

.about-us__section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: var(--main-text-margin);
}

.footer {
  background-color: #333;
  padding: 40px;
}



